# dotenv environment variables file
.env

# config.py environment variables file
config.py

# virtual environments
t-of-yinzi_backend_env

# vim swp files
*.swp

# pycache for using pylint
__pycache__

#build directory
build
